body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    border: 5px solid black;
}
.dashboard-container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.dashboard-content {
    text-align:center;
}

.shape {
    width: 200px;
    height: 200px; 
    background-color: red;
    display: none;
    position: absolute;
}

.random-background {
    background-image: url("images/cool-dog.png"); 
}
  
.background-image1 {
    background-image: url("images/dancing-mongoose.jfif");
}
  
.background-image2 {
    background-image: url("images/smiling-monkey.jfif");
}
  
.background-image3 {
    background-image: url("images/under-arrest-badger.jpg");
}

.shape #bg-img {
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
  

