body {
    margin: 0;
    padding: 0;
    cursor: none;
}
.cursor {
    width: 100px;
    height: 100px;
    position: absolute;
    display: block;
}
.cursor img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.container {
    height: 100vh;
    border: 5px solid black;
}
.dashboard-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    background: url(images/forest-g1ccbc41cc_1280.jpg);
    opacity: 1;
}

.dashboard-content {
    text-align:center;
    color: whitesmoke;
}

.shape {
    width: 200px;
    height: 200px; 
    display: none;
    position: absolute;
}


.background-image1 {
    background-image: url("images/dancing-mongoose-removebg-preview.png");
}

.background-image2 {
    background-image: url("images/smiling-monkey-removebg-preview.png");
}

.background-image3 {
    background-image: url("images/under-arrest-badger-removebg-preview.png");
}

.background-image4 {
    background-image: url("images/cool-dog-removebg-preview.png"); 
}
.shape #bg-img {
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



